<%= form_with(model: call_list, local: true) do |form| %>
  <% if call_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(call_list.errors.count, "error") %> prohibited this call_list from being saved:</h2>

      <ul>
      <% call_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><strong>Customer</strong></legend>
    <p>
      <table>
        <thead>
          <tr>
            <th> Code </th>
            <% if @isr_user %>
              <th> Name </th>
              <th> Contact </th>
              <th> Phone </th>
            <% else %>
              <th> <%= form.label :custname, "Name" %> </th>
              <th> <%= form.label :contact, "Contact" %> </th>
              <th> <%= form.label :phone, "Phone" %> </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% if @call_list.custcode %>
              <td> <%= @call_list.custcode %> </td>
            <% else %>
              <td></td>
            <% end %>
            <% if @isr_user %>
              <td> <%= @call_list.custname %> </td>
              <td> <%= @call_list.contact %> </td>
              <td> <%= @call_list.phone %> </td>
            <% else %>
              <td> <%= form.text_field :custname, size: 40, id: :call_list_custname %> </td>
              <td> <%= form.text_field :contact, size: 40, id: :call_list_contact %> </td>
              <td> <%= form.telephone_field :phone, size: 40, id: :call_list_phone %> </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <% if @isr_user %>
              <th> Main phone </th>
              <th> Email </th>
              <th> Website </th>
            <% else %>
              <th> <%= form.label :main_phone, "Main phone" %> </th>
              <th> <%= form.label :email, "Email" %> </th>
              <th> <%= form.label :website, "Website" %> </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% if @isr_user %>
              <td> <%= @call_list.main_phone %> </td>
              <td> <%= @call_list.email %> </td>
              <td> <%= @call_list.website %> </td>
            <% else %>
              <td> <%= form.telephone_field :main_phone, id: :call_list_main_phone %> </td>
              <td> <%= form.text_field :email, size: 50, id: :call_list_email %> </td>
              <td> <%= form.text_field :website, size: 50, id: :call_list_website %> </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <% if @isr_user %>
              <th> Selling </th>
              <th> Contact method </th>
              <th> Rep </th>
            <% else %>
              <th> <%= form.label :selling, "Selling" %> </th>
              <th> <%= form.label :contact_method, "Contact method" %> </th>
              <% if @call_list.rep %>
                <th> <%= form.label :rep, "Rep" %> </th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% if @isr_user %>
              <td> <%= @call_list.selling %> </td>
              <td> <%= @call_list.contact_method %> </td>
              <td> <%= @call_list.rep %> </td>
            <% else %>
              <td> <%= form.text_field :selling, size: 50, id: :call_list_selling %> </td>
              <td> <%= form.select :contact_method, @contact_method, {}, {:value => params[:contact_method], :id => "contact_method"} %> </td>
              <% if @call_list.rep %>
                <td> <%= form.select :rep, @rep, {}, {:value => params[:rep], :id => "rep"} %> </td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </p>
  </fieldset>
  <fieldset>
    <legend><strong>Communication</strong></legend>
    <p>
    <%= form.fields_for :call_days do |p| %>
      <table>
        <thead>
          <tr>
            <th> <%= p.label :callday, "Call day" %> </th>
            <th> <%= p.label :window, "Call window" %> </th>
            <th> <%= p.label :isr, "ISR" %> </th>
            <th> <%= p.label :notes, "Notes" %> </th>
            <th> <%= p.label :called, "Contacted?" %> </th>
            <th> <%= p.label :ordered, "Ordered?" %> </th>
            <th> <%= p.label :alt_contact, "Alternative contact" %> </th>
            <th> <%= p.label :callback, "Call back day" %> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= p.select :callday, @callday %> </td>
            <td> <%= p.select :window, @windows %> </td>
            <td> <%= p.select :isr, @isr_list %> </td>
            <td> <%= p.text_area :notes, size: "50x2" %> </td>
            <td> <%= p.select :called, @called %> </td>
            <td> <%= p.select :ordered, @ordered %> </td>
            <td> <%= p.select :alt_contact, @alt_contact %> </td>
            <td> <%= p.select :callback, @callback %> </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </p>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
