<p id="notice"><%= notice %></p>


<%= form_with url: call_lists_selected_path, local: true, method: 'get' do |f| %>
  <table>
    <thead>
      <tr>
        <th> <%= f.label(:called_day, 'Day:') %> </th>
        <th> <%= f.select(:called_day, options_for_select(@day, @selected_day)) %> </th>
        <th> <%= f.label(:called_window, 'Window:') %> </th>
        <th> <%= f.select(:called_window, options_for_select(@window, @selected_window)) %> </th>
        <% if @manager %>
          <th> <%= f.label(:called_rep, 'Rep:') %> </th>
          <th> <%= f.select(:called_rep, options_for_select(@reps, @selected_rep)) %> </th>
        <% end %>
        <th> <%= f.submit "Change" %> </th>
      </tr>
    </thead>
  </table>

<% end %>

<% if !@isr_user %>
  <div class="button">
    <%= link_to 'Add Call List', new_call_list_path %>
  </div>
<% end %>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Custcode</th>
      <th>Custname</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Override</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @call_lists.each do |call_list| %>
      <tr>
        <td><%= call_list.custcode %></td>
        <td><%= call_list.custname %></td>
        <td><%= link_to 'Show', call_list %></td>
        <td><%= link_to 'Edit', edit_call_list_path(call_list) %></td>
        <td><%= link_to 'Override', override_call_lists_change_path(custcode: call_list.custcode) %></td>
        <td><%= link_to 'Delete', call_list, method: :delete, data: { confirm: 'Call list will be permanently removed. Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
