<p id="notice"><%= notice %></p>

<h2>Call Lists</h2>

<%= form_with url: call_lists_selected_path, local: true, method: 'get' do |f| %>
  <table>
    <thead>
      <tr>
        <th> <h2>Call List</h2> </th>
        <th> <%= f.label(:called_day, 'Day:') %> </th>
        <th> <%= f.select(:called_day, options_for_select(@day, @selected_day)) %> </th>
        <th> <%= f.label(:called_window, 'Window:') %> </th>
        <th> <%= f.select(:called_window, options_for_select(@window, @selected_window)) %> </th>
        <th> <%= f.submit "Change" %> </th>
      </tr>
    </thead>
  </table>

<% end %>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Called?</th>
      <th>ISR/Rep</th>
      <th>Custcode</th>
      <th>Custname</th>
      <% if session[:called_window] == 'ALL' %>
        <th>Window</th>
      <% end %>
      <th>Ordered?</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @call_lists.each do |call_list| %>
      <tr>
        <td><%= call_list.called %></td>
        <% if @user.upcase == call_list.rep %>
          <td><%= call_list.isr %></td>
        <% else %>
          <td><%= call_list.rep %></td>
        <% end %>
        <td><%= call_list.custcode %></td>
        <td><%= call_list.custname %></td>
        <% if session[:called_window] == 'ALL' %>
          <td><%= call_list.window %></td>
        <% end %>
        <td><%= call_list.ordered %></td>
        <td><%= link_to 'Show', call_list %></td>
        <td><%= link_to 'Edit', edit_call_list_path(call_list) %></td>
        <td><%= link_to 'Delete', call_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Call List', new_call_list_path %>
