<p id="notice"><%= notice %></p>

<h2>Call Lists</h2>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Custcode</th>
      <th>Custname</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @call_lists.each do |call_list| %>
      <tr>
        <td><%= call_list.custcode %></td>
        <td><%= call_list.custname %></td>
        <td><%= link_to 'Show', call_list %></td>
        <td><%= link_to 'Edit', edit_call_list_path(call_list) %></td>
        <td><%= link_to 'Destroy', call_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call List', new_call_list_path %>
