<p id="notice"><%= notice %></p>

<h2>Call Lists</h2>

<%= form_with url: call_lists_selected_path, local: true, method: 'get' do |f| %>
  <%= f.label(:called_day, 'Day:') %>
  <%= f.select(:called_day, options_for_select(@day, @selected_day)) %>
  <%= f.label(:called_window, 'Window:') %>
  <%= f.select(:called_window, options_for_select(@window, @selected_window)) %>
  <%= f.submit "Change" %>
<% end %>

<br>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Called?</th>
      <th>Custcode</th>
      <th>Custname</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @call_lists.each do |call_list| %>
      <tr>
        <td><%= call_list.called %></td>
        <td><%= call_list.custcode %></td>
        <td><%= call_list.custname %></td>
        <td><%= link_to 'Show', call_list %></td>
        <td><%= link_to 'Edit', edit_call_list_path(call_list) %></td>
        <td><%= link_to 'Destroy', call_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call List', new_call_list_path %>
