<p id="notice"><%= notice %></p>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th rowspan="2"> ISR </th>
      <th colspan="4"> Mon </th>
      <th colspan="4"> Tue </th>
      <th colspan="4"> Wed </th>
      <th colspan="4"> Thu </th>
      <th colspan="4"> Fri </th>
      <th rowspan="2"> Total </th>
    </tr>
    <tr>
      <th> 1 </th>
      <th> 2 </th>
      <th> 3 </th>
      <th> 4 </th>
      <th> 1 </th>
      <th> 2 </th>
      <th> 3 </th>
      <th> 4 </th>
      <th> 1 </th>
      <th> 2 </th>
      <th> 3 </th>
      <th> 4 </th>
      <th> 1 </th>
      <th> 2 </th>
      <th> 3 </th>
      <th> 4 </th>
      <th> 1 </th>
      <th> 2 </th>
      <th> 3 </th>
      <th> 4 </th>
    </tr>
  </thead>
  <tbody>
    <% @weekhash.each do |w| %>
    <tr>
      <td><%= link_to w[:isr], call_lists_isrlist_path(isr: w[:isr]) %></td>
      <td><%= w[:mon_1] %></td>
      <td><%= w[:mon_2] %></td>
      <td><%= w[:mon_3] %></td>
      <td><%= w[:mon_4] %></td>
      <td><%= w[:tue_1] %></td>
      <td><%= w[:tue_2] %></td>
      <td><%= w[:tue_3] %></td>
      <td><%= w[:tue_4] %></td>
      <td><%= w[:wed_1] %></td>
      <td><%= w[:wed_2] %></td>
      <td><%= w[:wed_3] %></td>
      <td><%= w[:wed_4] %></td>
      <td><%= w[:thu_1] %></td>
      <td><%= w[:thu_2] %></td>
      <td><%= w[:thu_3] %></td>
      <td><%= w[:thu_4] %></td>
      <td><%= w[:fri_1] %></td>
      <td><%= w[:fri_2] %></td>
      <td><%= w[:fri_3] %></td>
      <td><%= w[:fri_4] %></td>
      <td><%= w[:tot] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
