<p id="notice"><%= notice %></p>


<% if @manager %>
  <%= form_with url: call_lists_week_select_path, local: true, method: 'get' do |f| %>
    <table>
      <thead>
        <tr>
          <th> <%= f.label(:called_rep, 'Rep:') %> </th>
          <th> <%= f.select(:called_rep, options_for_select(@reps, @selected_rep)) %> </th>
          <th> <%= f.submit "Change" %> </th>
        </tr>
      </thead>
    </table>
  <% end %>
<% end %>

<%= form_with url: call_lists_multi_path, local: true, method: 'get' do |f| %>

<table id="listtab" class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th> Customer </th>
      <th> Sun </th>
      <th> Mon </th>
      <th> Tue </th>
      <th> Wed </th>
      <th> Thu </th>
      <th> Fri </th>
    </tr>
  </thead>
  <tbody>
    <% $call_lists.each do |call_list| %>
    <tr>
      <td><%= link_to call_list[:customer], edit_call_list_path(call_list[:calllist_id]) %></td>
      <% if call_list[:sun_id] %>
        <td> <%= f.select "sunday_isr_call_list[]", options_for_select(@isr_list, call_list[:sun_isr]) %> </td>
      <% else %>
        <td></td>
      <% end %>
      <% if call_list[:mon_id] %>
        <td> <%= f.select "monday_isr_call_list[]", options_for_select(@isr_list, call_list[:mon_isr]) %> </td>
      <% else %>
        <td></td>
      <% end %>
      <% if call_list[:tue_id] %>
        <td> <%= f.select "tuesday_isr_call_list[]", options_for_select(@isr_list, call_list[:tue_isr]) %> </td>
      <% else %>
        <td></td>
      <% end %>
      <% if call_list[:wed_id] %>
        <td> <%= f.select "wednesday_isr_call_list[]", options_for_select(@isr_list, call_list[:wed_isr]) %> </td>
      <% else %>
        <td></td>
      <% end %>
      <% if call_list[:thu_id] %>
        <td> <%= f.select "thursday_isr_call_list[]", options_for_select(@isr_list, call_list[:thu_isr]) %> </td>
      <% else %>
        <td></td>
      <% end %>
      <% if call_list[:fri_id] %>
        <td> <%= f.select "friday_isr_call_list[]", options_for_select(@isr_list, call_list[:fri_isr]) %> </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= f.submit "Submit" %>
<% end %>
