<p id="notice"><%= notice %></p>

<%= form_with url: call_lists_multi_path, local: true, method: 'get' do |f| %>

<table>
  <thead>
    <tr>
      <th> <h2>This Week's Call List</h2> </th>
      <th> <%= f.label(:called_isr, 'ISR:') %> </th>
      <th> <%= f.text_field :called_isr, id: :call_list_isr, value: @isr %> </th>
    </tr>
  </thead>
</table>

<div id="listtable">
  <div id="listdiv">
    <table id="listtab" class="stripe" class="mytable" class="display" cellspacing="0" >
      <thead>
        <tr>
          <th> Row </th>
          <th> Sun </th>
          <th> ISR? </th>
          <th> Mon </th>
          <th> ISR? </th>
          <th> Tue </th>
          <th> ISR? </th>
          <th> Wed </th>
          <th> ISR? </th>
          <th> Thu </th>
          <th> ISR? </th>
          <th> Fri </th>
          <th> ISR? </th>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% while i < @list_length %>
        <tr>
          <td><%= i+1 %></td>
          <% if i < $sunday_list.length %>
            <td><%= $sunday_list[i].custcode %></td>
            <% if $sunday_list[i].isr != '' %>
              <td><%= f.check_box "sunday_isr_call_list[]", {:checked => true} %></td>
            <% else %>
              <td><%= f.check_box "sunday_isr_call_list[]" %></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <% if i < $monday_list.length %>
            <td><%= $monday_list[i].custcode %></td>
            <% if $monday_list[i].isr != '' %>
              <td><%= f.check_box "monday_isr_call_list[]", {:checked => true} %></td>
            <% else %>
              <td><%= f.check_box "monday_isr_call_list[]" %></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <% if i < $tuesday_list.length %>
            <td><%= $tuesday_list[i].custcode %></td>
            <% if $tuesday_list[i].isr != '' %>
              <td><%= f.check_box "tuesday_isr_call_list[]", {:checked => true} %></td>
            <% else %>
              <td><%= f.check_box "tuesday_isr_call_list[]" %></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <% if i < $wednesday_list.length %>
            <td><%= $wednesday_list[i].custcode %></td>
            <% if $wednesday_list[i].isr != '' %>
              <td><%= f.check_box "wednesday_isr_call_list[]", {:checked => true} %></td>
            <% else %>
              <td><%= f.check_box "wednesday_isr_call_list[]" %></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <% if i < $thursday_list.length %>
            <td><%= $thursday_list[i].custcode %></td>
            <% if $thursday_list[i].isr != '' %>
              <td><%= f.check_box "thursday_isr_call_list[]", {:checked => true} %></td>
            <% else %>
              <td><%= f.check_box "thursday_isr_call_list[]" %></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <% if i < $friday_list.length %>
            <td><%= $friday_list[i].custcode %></td>
            <% if $friday_list[i].isr != '' %>
              <td><%= f.check_box "friday_isr_call_list[]", {:checked => true} %></td>
            <% else %>
              <td><%= f.check_box "friday_isr_call_list[]" %></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
        <% i += 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= f.submit "Submit" %>
<% end %>
