<p id="notice"><%= notice %></p>

<%= form_with url: call_lists_multi_path, local: true, method: 'get' do |f| %>

<h2>This Week's Call List</h2>

<table id="listtab" class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th> Row </th>
      <th> Sun </th>
      <th> ISR </th>
      <th> Mon </th>
      <th> ISR </th>
      <th> Tue </th>
      <th> ISR </th>
      <th> Wed </th>
      <th> ISR </th>
      <th> Thu </th>
      <th> ISR </th>
      <th> Fri </th>
      <th> ISR </th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% while i < @list_length %>
    <tr>
      <td><%= i+1 %></td>
      <% if i < $sunday_list.length %>
        <td><%= $sunday_list[i][:customer] %></td>
        <td> <%= f.select "sunday_isr_call_list[]", options_for_select(@isr_list, $sunday_list[i][:isr]) %> </td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <% if i < $monday_list.length %>
        <td><%= $monday_list[i][:customer] %></td>
        <td> <%= f.select "monday_isr_call_list[]", options_for_select(@isr_list, $monday_list[i][:isr]) %> </td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <% if i < $tuesday_list.length %>
        <td><%= $tuesday_list[i][:customer] %></td>
        <td> <%= f.select "tuesday_isr_call_list[]", options_for_select(@isr_list, $tuesday_list[i][:isr]) %> </td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <% if i < $wednesday_list.length %>
        <td><%= $wednesday_list[i][:customer] %></td>
        <td> <%= f.select "wednesday_isr_call_list[]", options_for_select(@isr_list, $wednesday_list[i][:isr]) %> </td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <% if i < $thursday_list.length %>
        <td><%= $thursday_list[i][:customer] %></td>
        <td> <%= f.select "thursday_isr_call_list[]", options_for_select(@isr_list, $thursday_list[i][:isr]) %> </td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <% if i < $friday_list.length %>
        <td><%= $friday_list[i][:customer] %></td>
        <td> <%= f.select "friday_isr_call_list[]", options_for_select(@isr_list, $friday_list[i][:isr]) %> </td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
    <% i += 1 %>
  <% end %>
  </tbody>
</table>
<%= f.submit "Submit" %>
<% end %>
