<p id="notice"><%= notice %></p>

<h2>Not Ordered Report This Week</h2>
<table id="not_ordered"  class="stripe" class="mytable" class="display" cellspacing="0">
  <thead>
    <tr>
      <th> Customer </th>
      <th> Rep </th>
      <th> ISR </th>
      <th> Day </th>
      <th> Call back </th>
      <th> Contacted? </th>
      <th> Ordered? </th>
      <th> Method </th>
    </tr>
  </thead>
  <tbody>
    <% @report_list.each do |r| %>
      <% r.call_days.each do |c| %>
        <% if c.ordered != 'YES' %>
          <tr>
            <td><%= r.custcode %></td>
            <td><%= r.rep %></td>
            <td><%= c.isr %></td>
            <td><%= c.callday %></td>
            <td><%= c.callback %></td>
            <% if c.called != 'YES' %>
              <td><%= 'NO' %></td>
            <% else %>
              <% if c.date_called %>
                <td><%= 'YES (' + display_date(c.date_called) + ')' %></td>
              <% else %>
                <td><%= 'YES' %></td>
              <% end %>
            <% end %>
            <td><%= c.ordered %></td>
            <% if c.alt_contact != ' ' %>
              <td><%= c.alt_contact %></td>
            <% else %>
              <td><%= r.contact_method %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
