<p id="notice"><%= notice %></p>

<h2>Not Contacted This Week</h2>
<table id="not_called"  class="stripe" class="mytable" class="display" cellspacing="0">
  <thead>
    <tr>
      <th> Customer </th>
      <th> Rep </th>
      <th> Day </th>
      <th> No answer? </th>
    </tr>
  </thead>
  <tbody>
    <% @report_list.each do |r| %>
      <% if r.called != 'YES' %>
        <tr>
          <td><%= r.custcode %></td>
          <td><%= r.rep %></td>
          <td><%= r.callday %></td>
          <% if r.called != 'NO' %>
            <td><%= 'YES' %></td>
          <% else %>
              <td><%= ' ' %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
