<p id="notice"><%= notice %></p>

<table id="not_called"  class="stripe" class="mytable" class="display" cellspacing="0">
  <thead>
    <tr>
      <th> Customer </th>
      <th> Rep </th>
      <th> ISR </th>
      <th> Day </th>
      <th> No answer? </th>
      <th> Call back </th>
      <th> Edit </th>
    </tr>
  </thead>
  <tbody>
    <% @report_list.each do |r| %>
      <% r.call_days.each do |c| %>
        <% if c.called != 'YES' %>
          <tr>
            <td><%= r.custcode %></td>
            <td><%= r.rep %></td>
            <td><%= c.isr %></td>
            <td><%= c.callday %></td>
            <% if c.called != 'NO' %>
              <td><%= 'YES' %></td>
            <% else %>
                <td><%= ' ' %></td>
            <% end %>
            <td><%= c.callback %></td>
            <td><%= link_to 'Edit', edit_call_list_path(r) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
