<p id="notice"><%= notice %></p>

<p>
  <strong>Custcode:</strong>
  <%= @call_list.custcode %>
</p>

<p>
  <strong>Custname:</strong>
  <%= @call_list.custname %>
</p>

<p>
  <strong>Contact method:</strong>
  <%= @call_list.contact_method %>
</p>

<p>
  <strong>Callday:</strong>
  <%= @call_list.callday %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @call_list.notes %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @call_list.contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @call_list.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @call_list.email %>
</p>

<p>
  <strong>Selling:</strong>
  <%= @call_list.selling %>
</p>

<p>
  <strong>Main phone:</strong>
  <%= @call_list.main_phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @call_list.website %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @call_list.rep %>
</p>

<p>
  <strong>Isr:</strong>
  <%= @call_list.isr %>
</p>

<p>
  <strong>Called:</strong>
  <%= @call_list.called %>
</p>

<p>
  <strong>Date called:</strong>
  <%= @call_list.date_called %>
</p>

<p>
  <strong>Ordered:</strong>
  <%= @call_list.ordered %>
</p>

<p>
  <strong>Date ordered:</strong>
  <%= @call_list.date_ordered %>
</p>

<p>
  <strong>Callback:</strong>
  <%= @call_list.callback %>
</p>

<p>
  <strong>Callback date:</strong>
  <%= @call_list.callback_date %>
</p>

<%= link_to 'Edit', edit_call_list_path(@call_list) %> |
<%= link_to 'Back', call_lists_path %>
