<p id="notice"><%= notice %></p>
<h2>Show Call List</h2>

<fieldset>
  <legend><strong>Customer</strong></legend>
  <p>
    <strong>Code:</strong>
    <%= @call_list.custcode %>&emsp;&emsp;
    <strong>Name:</strong>
    <%= @call_list.custname %>&emsp;&emsp;
    <strong>Contact method:</strong>
    <%= @call_list.contact_method %>&emsp;&emsp;
    <strong>Contact:</strong>
    <%= @call_list.contact %>&emsp;&emsp;
    <strong>Phone:</strong>
    <%= @call_list.phone %>&emsp;&emsp;
    <strong>Email:</strong>
    <%= @call_list.email %>&emsp;&emsp;
    <strong>Main phone:</strong>
    <%= @call_list.main_phone %>&emsp;&emsp;
    <strong>Website:</strong>
    <%= @call_list.website %>
  </p>
  <p>
    <strong>Selling:</strong>
    <%= @call_list.selling %>&emsp;&emsp;
    <strong>Notes:</strong>
    <%= @call_list.notes %>
  </p>
</fieldset>
<fieldset>
  <legend><strong>Communication</strong></legend>
  <p>
    <strong>Callday:</strong>
    <%= @call_list.callday %>&emsp;&emsp;
    <strong>Rep:</strong>
    <%= @call_list.rep %>&emsp;&emsp;
    <strong>ISR:</strong>
    <%= @call_list.isr %>&emsp;&emsp;
    <strong>Called?:</strong>
    <%= @call_list.called %>&emsp;&emsp;
    <strong>Date called:</strong>
    <%= @call_list.date_called %>&emsp;&emsp;
    <strong>Ordered?:</strong>
    <%= @call_list.ordered %>&emsp;&emsp;
    <strong>Date ordered:</strong>
    <%= @call_list.date_ordered %>&emsp;&emsp;
    <strong>Callback:</strong>
    <%= @call_list.callback %>
  </p>
</fieldset>

<%= link_to 'Edit', edit_call_list_path(@call_list) %>
<%= link_to 'List', call_lists_path %>
