<%= form_with(model: on_special, local: true) do |form| %>
  <% if on_special.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(on_special.errors.count, "error") %> prohibited this on_special from being saved:</h2>

      <ul>
      <% on_special.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :on_special_customer %>
  </div>

  <div class="field">
    <%= form.label :part %>
    <%= form.text_field :part, id: :on_special_part %>
  </div>

  <div class="field">
    <%= form.label :onspecials_start %>
    <%= form.date_select :onspecials_start, id: :on_special_onspecials_start %>
  </div>

  <div class="field">
    <%= form.label :onspecials_end %>
    <%= form.date_select :onspecials_end, id: :on_special_onspecials_end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
