<h1 class="title"><%= $title %></h1>

<% if current_user %>
  <div id="navbar">
    <span><%= link_to 'Call List', call_lists_path %></span>
    <span><%= link_to 'Week', call_lists_list_path %></span>
    <span><%= link_to 'Password', edit_user_registration_path %></span>
    <% if current_user.email == "admin" %>
      <span><%= link_to 'Sign up', new_user_registration_path %></span>
      <span><%= link_to 'ISR Names', isr_lists_path %></span>
      <span><%= link_to 'ISR Week', call_lists_isr_week_path %></span>
    <% end %>
  </div>
  <div class="dropdown">
    <span class="dropbtn">Reports</span>
    <div class="dropdown-content">
      <span><%= link_to 'No Contact', call_lists_not_called_path %></span>
      <span><%= link_to 'Not Ordered', call_lists_not_ordered_path %></span>
      <span><%= link_to 'Not On Call List', call_lists_not_on_list_path %></span>
      <span><%= link_to 'All Customers', call_lists_all_customer_path %></span>
      <span><%= link_to 'Non-Active Customer', call_lists_no_customer_path %></span>
    </div>
  </div>
<% end %>
<br>
